<template>
    <div class="box">
        <div class="hover-box">
            <div class="text">
                <h1>Bu kişiyi profesyonel listeme ekle</h1>
            </div>
        </div>
        <div class="top">
            <a href="#" id="star"><i class="fa fa-star ico"></i></a>
            <h1 class="title">{{nombre}}</h1>
            <h3 class="job">{{genero}}</h3>
        </div>
        <div class="bottom">
            <div class="links">
                <ul>
                    <li><a href="#">{{nacionalidad}}</a></li>
                    <li><a href="#">{{email}}</a></li>
                    <li><a href="#">{{fecha_registro}}</a></li>
                    <li><i class="fa fa-circle green"></i><a href="#">{{fecha_nacimiento}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { defineComponent } from "vue";

    export default defineComponent({
        name: "Card",
        props: {
            nombre: String,
            genero: String,
            email: String,
            nacionalidad: String,
            fecha_nacimiento: String,
            fecha_registro: String
        },
    });
</script> 
<style src="@/ui/assets/styles/card.scss" lang="scss"></style> 