<template>
    <div>
        <button @click="exporrt()">Exportar</button>
    </div>
</template>

<script lang="ts">
    import { defineComponent } from "vue";
    import { useGetUserList }  from "../RandomUserApp";
    import csvDownload from 'json-to-csv-export'
    export default defineComponent({
        name: 'ExportToCsv',
        methods:{
            async exporrt(){
                const userList = await useGetUserList();
                const list = userList.userList.value.getUsersList();
                const j = new Array(list);
                csvDownload({
                    data: list,
                    filename: 'list_users',
                    delimiter: ',',
                    headers: ['genero', 'nombre', 'email', 'nacionalidad', 'fecha_nacimiento', 'fecha_registro']
                })
                
            }
        }
    })
</script>