<template>
    <div>
        <h2>Filtros</h2>
        <div class="genero">
            <fieldset>
                <legend>Género</legend>
                <ul>
                    <li>
                        <input v-model="genero" id="male" name="genero" v-bind:value="'male'" type="radio">
                        <label for="wood">Masculino</label>
                    </li>
                    <li>
                        <input v-model="genero" id="female" name="genero" v-bind:value="'female'" type="radio">
                        <label for="glass">Femenino</label>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Nacionalidad</legend>
                <select name="nacionalidad" id="nacionalidad" v-model="nacionalidad">
                    <option v-for="(nat, i) in listNacionalidades" :key="i" :value="nat" >{{nat}}</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Edad</legend>
                <input type="text" v-model="edad" />
            </fieldset>

            <button @click="sendFiltersToParent">Filtrar</button>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    name: "Filters",
    props: {
        listNacionalidades: Array
    },
    data(){
        return {
            edad: 0,
            genero: '',
            nacionalidad: ''
        }
    },
    methods: {
        sendFiltersToParent(){
            this.$emit('send-filters', { edad: this.edad, genero: this.genero, nacionalidad: this.nacionalidad});
        }
    }
});
</script>

<style lang="scss" src="@/ui/assets/styles/components/home/filters.scss" scoped></style>