<template>
  <div class="container">
    <div class="row">
      <div class="column">
        <img :src="perfil" alt="">
      </div>
      <div class="column">
        <ol-map :loadTilesWhileAnimating="true" :loadTilesWhileInteracting="true" style="height:168px; width: 100%;">

          <ol-view ref="view" :center="center" :rotation="rotation" :zoom="zoom" :projection="projection" />

          <ol-tile-layer>
            <ol-source-osm />
          </ol-tile-layer>

        </ol-map>
      </div>
      <div class="column">
        <button>Favorito</button>
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{nombre}}
        {{email}}
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{ciudad}}
        {{calle}}
        {{numeros_telefono}}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, onMounted, ref } from "vue";
  import { useRoute } from "vue-router";

  export default defineComponent({
    name: "Profile",
    setup(){
      const center = ref([40.1, -49.4])
      const rotation = ref(0);
      const zoom = ref(8);
      const projection = ref('EPSG:4326');
      const route = useRoute();

      const nombre = ref('');
      const perfil = ref('');
      const email = ref('');
      const ciudad = ref('');
      const calle = ref('');
      const numeros_telefono = ref('');

      onMounted(() => {
        console.log(route.params)
        console.log(route.query)
        nombre.value = route.query.nombre as string;
        perfil.value = route.query.perfil as string;
        email.value = route.query.email as string;
        ciudad.value = route.query.ciudad as string;
        calle.value = route.query.ciudad as string;
        numeros_telefono.value = route.query.numeros_telefono?.toString() as string;

        const geolocation = route.query.geolocalizacion as string;
        center.value = [parseFloat(geolocation.split(',')[0]), parseFloat(geolocation.split(',')[1])];
      })

      return {
        center,
        rotation,
        zoom,
        projection,
        nombre,
        perfil,
        email,
        ciudad,
        calle,
        numeros_telefono
      }
    }
  });
</script>

<style lang="scss" src="@/ui/assets/styles/components/profile/profile.scss"></style>