<template>
  <div class="container">
    <div class="left">
      <Filters :listNacionalidades="listNacionalidades" v-on:send-filters="onFiltersReceived" />
      <button @click="navigateToExportView()">Exportar</button>
    </div>
    <div class="main">
      <template v-if="filtered" >
        <Card v-for="(user, j) in userList.getUserListFiltered(filters)" :key="j" 
          @click="navigateToProfile(user)"
          :nombre="user.getNombre()"
          :genero="user.getGenero()" 
          :email="user.getEmail()" 
          :nacionalidad="user.getNacionalidad()"
          :fecha_nacimiento="user.getFechaNacimiento()" 
          :fecha_registro="user.getFechaRegistro()" 
        />
      </template>
      <template v-else>
        <Card v-for="(user, i) in userList.getUsersList()" :key="i" @click="navigateToProfile(user)" :nombre="user.getNombre()"
          :genero="user.getGenero()" :email="user.getEmail()" :nacionalidad="user.getNacionalidad()"
          :fecha_nacimiento="user.getFechaNacimiento()" :fecha_registro="user.getFechaRegistro()" />
      </template>


    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Card from "@/ui/components/shared/Card.vue";
import Filters from '@/ui/components/home/Filters.vue';

import { useGetUserList } from "../RandomUserApp";

export default defineComponent({
  name: "Home",
  props: {
    msg: String,
  },
  data() {
    return {
      filtered: false,
      filters: {
        edad: '',
        genero: '',
        nacionalidad: ''
      }
    }
  },
  async setup() {
    const { userList, listNacionalidades } = await useGetUserList();

    return {
      userList,
      listNacionalidades
    }
  },
  methods: {
    onFiltersReceived(filters: { edad: any, genero: string, nacionalidad: string }) {
      this.filters = filters;
      this.filtered = true;
    },
    navigateToProfile(user: any){
      this.$router.push({name: 'Profile', query: user, params: { user: JSON.stringify(user)}})
    },
    navigateToExportView(){
      this.$router.push({name: 'ExportToCsv'})
    },
  },
  components: {
    Card,
    Filters
  },
});
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "left main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.container>div {
  border: 1px #888;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.right {
  grid-area: left;
}
</style>
