.container {
    width: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}