$box_width : 250px;
$box_height : 350px;
$box_bRadius : 10px;
$box_background : white;
$box_shadow : 0px 0px 10px rgba(0,0,0,0.2);
$text_color: black;
$links_color: #626262;
$bottom_box_bg : #F5F5F5;

@mixin createBox($width, $height, $radius, $background, $shadow) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $background;
  box-shadow: $shadow;
}

.box {
    position: relative;
    margin-bottom: 10px;
    @include createBox($box_width, $box_height, $box_bRadius, $box_background, $box_shadow);

    .top {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-top-left-radius: $box_bRadius;
        border-top-right-radius: $box_bRadius;

        #star {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 30px;
            left: 75%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: .5s;
            text-decoration: none;
            z-index: 3;

            &:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                background-color: white;

                .ico {
                    color: #FFAE00;
                }
            }

            .ico {
                text-align: center;
                font-size: 18px;
                color: $links_color;
                transition: .5s;
            }

        }

        .profile,
        .title,
        .job {
            margin: 5px;
        }

        .profile {
            width: 80px;
            height: 80px;
            border: 4px solid white;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
            border-radius: 45%;
            background-image: url("https://cdn.dribbble.com/users/16041/avatars/small/e6c7fac4033b9c233a3bd82ce55c4430.jpg");
            z-index: 2;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
        }

        .job {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 50%;
        background-color: $bottom_box_bg;
        border-bottom-left-radius: $box_bRadius;
        border-bottom-right-radius: $box_bRadius;

        .links ul {
            text-align: center;
            list-style: none;
            padding: 0;
            li {
                padding: 5px;
            }

            a {
                color: $links_color;
                font-size: 15px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .green {
                color: #50E3B3;
                font-size: 15px;
                padding-right: 5px;
            }

        }

        .social-links ul {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 60px;

            li {
                padding: 10px;
                font-size: 24px;

                a {
                    color: $links_color;
                }
            }
        }
    }

    // Star on hover
    .hover-box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        background-color: #FDF4DA;
        border-radius: 10px;
        opacity: 0;
        z-index: -1;

        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            text-align: center;

            h1 {
                color: #574A21;
                line-height: 1.5;
                font-weight: 400;
                font-size: 22px;
            }
        }
    }
}